<div class="create-user-form">
  <h1>Criar usuário</h1>
  <form action="/signup" method="post" style="display:inline-block;margin-top:20px;">
      <div class="form-group">
        <label for="nome">Nome completo</label>
        <input name="nome" id="nome" type="text" placeholder="Ex: Fulano de Tal" class="form-control {{#if errors}}is-invalid{{/if}}" value="{{user.nome}}">
        <div class="invalid-feedback">{{showError errors 'nome'}}</div>
      </div>
      <div class="form-group">
        <label for="email">Endereço de e-mail</label>
        <input name="email" id="email" type="email" placeholder="Ex: fulano@exemplo.com" class="form-control {{#if errors}}is-invalid{{/if}}" value="{{user.email}}">
        <div class="invalid-feedback">{{showError errors 'email'}}</div>
      </div>
      <div class="form-group">
        <label for="curso_id">Seu curso na UFAM</label>
        <select name="curso_id" class="form-control {{#if errors}}is-invalid{{/if}}" value="{{usuario.curso_id}}">
          <option value="" disabled selected>Selecione seu curso</option>
          {{#each cursos}}
            <option value="{{id}}">{{nome}}</option>
          {{/each}}
        </select>
        <div class="invalid-feedback">{{showError errors 'curso_id'}}</div>
      </div>            
      <div class="form-group">
          <label for="senha">Senha</label>
          <div class="form-group" style="display: inline-flex;">
            <input style="width:150px;" name="senha" id="senha" type="password" placeholder="******" class="form-control {{#if errors}}is-invalid{{/if}}" value="{{user.senha}}">
            <div class="invalid-feedback">{{showError errors 'senha'}}</div> 
          </div>
          <label for="confirmaSenha">Confirme a senha</label>
          <div class="form-group" style="display: inline-flex;">
            <input style="width:150px;" name="confirmaSenha" id="confirmaSenha" type="password" placeholder="******" class="form-control {{#if errors}}is-invalid{{/if}}" value="{{user.confirmaSenha}}">
            <div class="invalid-feedback">{{showError errors 'confirmaSenha'}}</div> 
          </div>    
      </div>
      <div class="form-group">
        <label for="check">Eu li e concordo com os termos de serviço <input name="check" id="check" type="checkbox" {{#if errors}}is-invalid{{/if}} value="{{user.check}}"> </label>
        <div class="invalid-feedback">{{showError errors 'check'}}</div>
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="submit" class="btn btn-primary" value="Cadastrar" style="display: inline-flex;">
  </form>
</div>